.App {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  height: 100vh;
}
.leaflet-container {
  position: absolute;

  width: 50%;
  height: 50vh;
}

/* #MapContainer {
  border: 5px solid red;
} */
